@import (reference) "../affresco/less/ksf-colors.less";

/*
md-h: 24px
lg-h: 36px;
*/

.header-container-container {
  position: sticky;
  grid-row: 2;
  grid-column: 1 / span 5;
  height: 115px;
  top: 12px;
  z-index: 100;

  @media (max-width: @breakpoint-2col) {
    height: 78px;
  }
}

.header-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 5px minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) 5px;

  @media (min-width: @breakpoint-3col) {
    grid-template-rows: auto auto;
    max-width: 100%;
    grid-template-columns: @mosaico-grid-columns;
  }

  transition: all 0.2s, background-color 0;

  * {
    transition: all 0.2s, background-color 0;
  }

  &.static-header {
    padding-top: 8px;
  }
}

.header-container.static-header {
  .mosaico-header {
    &__logo {
      background-size: 30px;
      height: 26px;

      @media (max-width: @breakpoint-2col) {
        height: 30px;
      }
    }

    &__right-links {
      grid-row: 1;
    }
  }
}

.mosaico-header {
  display: grid;
  grid-column: 2 / span 3;

  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr 1fr;
  @media (min-width: @breakpoint-2col) {
    grid-template-rows: auto 0px auto;
    grid-template-columns: 15% 1fr 15%;
    row-gap: 5px;
  }

  padding-bottom: 4px;

  &__left-links {
    grid-row-start: 1;
    grid-column: 1;

    z-index: 200; // Fixes the logo overlapping with the links
  }

  &__right-links {
    grid-row: 1;
    grid-column-start: 3;

  }

  &__logo {
    grid-row-start: 2;
    grid-column-start: 2;

    @media (min-width: @breakpoint-2col) {
      grid-row-start: 1;
    }
  }

  &__account {
    grid-row-start: 2;
    grid-column-start: 1;

    @media (min-width: @breakpoint-2col) {
      grid-row-start: 3;
    }
  }

  &__center-links {
    grid-row-start: 3;
    grid-column-start: 2;
  }

  &__right-buttons {
    grid-row-start: 2;
    grid-column-start: 3;

    @media (min-width: @breakpoint-2col) {
      grid-row-start: 3;
    }
  }

  .mosaico-header__icon--paper {
    width: 100%;
    height: 36px;

    @media (max-width: @breakpoint-2col) {
      height: 28px;
    }

    .static-header & {
      height: 20px;
      margin-top: 8px;

      @media (max-width: @breakpoint-2col) {
        margin-top: 0px;
      }
    }

    #HBL & {
      mask-image: url("../images/logo-hbl.svg");
    }

    #VN & {
      mask-image: url("../images/logo-vn.svg");
    }

    #ON & {
      mask-image: url("../images/logo-on.svg");
    }
  }

  .menu-open .maskimage-menu {
    mask-image: url("../images/icon-mosaico-menu-close.svg");
  }
}

.mosaico-main-separator {
  border: 0px;
  margin: 0px;
  background-color: var(--header-separator-color, @grey-almostlight);
  height: @separator-height;

  width: 100%;
  grid-column: 1 / -1;
}

.mosaico-header .spinner--loading-spinner {
  background: initial;
  display: initial;
  grid-row-start: 3;
  margin-top: -40px;
  @media (min-width: @breakpoint-2col) {
    margin-top: -30px;
  }
}

.mosaico-header__menu .mosaico-header__section .spinner--loading-spinner {
  background: initial;
}

@separator-margin: 15px;
@separator-height: 2px;
