.mosaico-search {
  &__form {
    .input-field--container input[type="text"] {
      border: 0;
    }

    .input-field--no-label {
      grid-template-rows: initial !important;
    }
  }

  :focus {
    outline: none;
  }

  ::-moz-focus-inner {
    border: 0;
  }
}